*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Nav Bar  Incomplete*/

#left {
    position:absolute;
    margin: 7px 0 0 10px;
}

#left a{
    display: inline-block;
    justify-content:flex-start;
    padding-left: 15px;
    color:  #000;
    opacity: 0.75;
    text-decoration:none;
    margin: auto;
}

#navbar{
    display: inline-block;
    align-items: stretch;
    width: 100%;
}

#right a{
    float:right;
    padding-right:15px;
    padding-top: 5px;
    color:#000;
    opacity: 0.75;
    text-decoration:none;
    margin:auto;
}

/* Body */

#searchform{
    display:inline-block;
}

div #vieport{
    position: absolute;
    top: 0;
    width: 100%;
}

form{ margin: 0 auto;
}

#google-img{
    width: 50%;
    margin: auto;
}

body{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Genvea, Verdana, sans-serif
}

/* Footer */

#footer-bar{
    position:fixed;
    align-items: stretch;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: lightgrey;
}

#left-footer{
    float: left;
}

#right-footer{
    float:right;
}

#left-footer a{
    display:inline-block;
    justify-content: flex-start;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    margin: auto;
}

#right-footer a{
    display: inline-block;
    justify-content: flext-start;
    padding-right:15px;
    padding-bottom:10px;
    padding-top:10px;
    color:#000;
    opacity: 0.75;
    text-decoration:none;
    margin:auto;
}

input{
    width:450px;
    margin: -20px 4px;
    border-color:gray;
    height: 38px;
    text-align:start;
    font-size: 14px;
}

button{
    padding-left: 20px;
    padding-right:20px;
    font-size: 14px;
    color: #5f6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 20px 4px;
    height: 36px;
    min-width:54px;
    background-image: -webkit-linear-gradient(top,#ffffff, #dddddd);
    cursor: pointer;

}

button:hover{
    border: black solid;
}